 body { font-family: 'Inter', sans-serif; background-color: #f8fafc; overflow-x: hidden; }
        .mono { font-family: 'JetBrains Mono', monospace; }
        .hidden { display: none; }
        .custom-scroll::-webkit-scrollbar { width: 6px; }
        .custom-scroll::-webkit-scrollbar-track { background: transparent; }
        .custom-scroll::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }
        .sidebar-expanded { width: 260px; }
        .sidebar-collapsed { width: 80px; }

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #74abe5;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

        /* --- PRINT STYLES: CRITICAL FIX FOR SINGLE PAGE --- */
     @media print {

  /* 1/8 bond paper */
  @page {
    size: 4.25in 3.50in;
    margin: 0 !important;
  }

  body.printing > * {
    display: none !important;
  }

  body.printing #print-container {
    display: block !important;
    position: fixed !important;
    inset: 0 !important;

    width: 4.25in !important;
    height: 3.50in !important;

    /* INNER MARGIN */
    padding: 8mm !important;
    box-sizing: border-box !important;

    background: white !important;
  }

  .print-page-layout {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
  }

  .receipt-copy {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border: 1px solid #1e293b;
    padding: 1 !important;
    margin: 0 !important;

    background: #fff;
    overflow: hidden;
  }

  /* Remove Tailwind padding from receipt */
  #print-container #receipt-body-template {
    padding: .5 !important;
    margin: 0 !important;
    border: 1 !important;
    box-shadow: none !important;
  }

  /* Slightly smaller text for 1/8 size */
  .receipt-copy h4 { font-size: 12px !important; }
  .receipt-copy p { font-size: 9px !important; }
  .receipt-copy .text-lg { font-size: 13px !important; }
  .receipt-copy .text-xs { font-size: 8px !important; }

}


